*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: 'poppins', sans-serif;

}

/*variaveis para mudar cor */
:root{
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;
 
    --gray-200: #cccccc;
    --gray-400: #505861;
 
    --black-800: #171717;
 
    --white: #F9F9F9;
}
html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}
body{
    background-color: var(--gray-200);
    color: var(--black-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smmothing:grayscale;

}


.minhafoto{
    border-radius: 40px;
   
}
button,
a{
    cursor: pointer;
}
.botao{
    text-align: center;
    padding: 12px 32px;
    background: none;
    border: 1px solid var(--purple-800);
    border-radius: 10px;
    font-weight: 700;

}
.botao:hover{
    background-color: var(--purple-800);
    color: var(--white)

}
.flex{
    justify-content: center;
    display: flex;
    align-items: center;
}
.menu_container{
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--purple-800);
    border-bottom: 1px solid var(--purple-500);
    filter: opacity(0.9);
}

.menu_container a{
    color: var(--white);
    font-weight: 700;   
}

.menu_container a:houver{
    color: var(--purple-200);
}

.menu_content{
    max-width: 1120px;
    padding: 0px 24px ;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.menu_list{
    list-style: none;
    text-align: center;
}
.menu_list li{
    margin-left: 1rem ;
}



/* Estilização da secao home*/


.home_container{
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 100px);
}

.home_container p,
h1,
h4{
    text-align: center;
    font-size: 1rem;
}
.home_container h1{
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 700;
}

.home_container p {
    margin: 1rem 0;
}
.home_container .botao{
    width: 40%;
}

.home_content{
    width: 50vw;
    flex-direction: column;
}


 
.home_content img{
    display: flex;
    width: 75%;
 
}


#about{
    display: flex; /* Faz a imagem e o texto ficarem lado a lado */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza os itens */
    gap: 2rem; /* Espaço entre a imagem e o texto */
    padding: 5rem; /* Ajuste de espaçamento */
}


.about_contenteiner{
    display: inline-flex;
    padding: 11.875rem 0.99956rem 11.8125rem 1.59375rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.70606rem;
}


.about_content{
    width: 50vw;
    flex-direction: column;
}

#about img{
    display: flex;
    width: 35%;
    border-radius: 22.5rem;
    border: 5px solid #6B36C8;
}

#about-texto{
    display: inline-flex;
    padding: 11.875rem 0.99956rem 11.8125rem 1.59375rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.70606rem;
}


#about_texto h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
#about_texto p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19,2px;
}

#about_github{
    display: inline-flex;
    padding: 0.1875rem 5.20063rem 0.1875rem 5.25781rem;
    justify-content: center;
    align-items: center;
    gap: 5.25756rem;
}


.contato_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
    max-width: 1120px;
    margin: 4rem auto 2rem;
    padding: 0 2rem;
}

.contato_container h4{
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.contato_content{
    flex-direction: column;
    margin: 4rem 0 0 0;
    font-size: 1.25rem;

}

.contato_container p{
display: block;
text-align: justify;
}



/* estilização das redes sossiais*/

.social_container{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}

.social_icon{
    width: 4.75rem;
    height: 4.75rem;
}

.social_icon:houver{
    filter: brightness(0)
            saturate(100%)
            invert(20%)
            sepia(24%)
            saturate(4557%)
            hue-rotate(242deg)
            brightness(89%)
            contrast(108%)
    
    ;
}

/* Estilização da Seção Form*/

form{
    display: flex;
    flex-direction: column;
    margin: 7rem 0 0 0;
    padding: 1.25rem;
    border: none;
}

fomr label {
    font-size: 1.25rem;
    text-align: left;
}

form input,
textarea{
    width: 100%;
    margin: 0.5rem 0 1rem;
    border-radius: 1.25rem;
    background: #FFF;
    
}

textarea{
    resize:none;
}

form span{
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: red;
}
footer{
    color: white;
    font-weight: bold;    
    text-align: center;
    width: 100%;
    background-color: var(--purple-500);
    padding: 1rem;
}




#menu_content_sucess {
    width: 100%;
    max-width: 1120px;
    padding: 0 1.5rem;
}

.home_container_sucess {
    height: calc(100vh - 12.5rem);
    max-width: 1120px;
    margin: 1rem auto;
    padding: 0 1rem;
}

#home_sucess {
    width: 50vw;
    flex-direction: column;
}

#home_sucess h1 {
    font-size: 2rem;
    font-weight: 700;
}

#home_sucess h4 {
    font-size: 1.25rem;
    padding: 1rem;
}


/*Modo responsivo*/

/*smart phone - telas até 480px  */

@media screen and (max-width: 480px){
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main{
        display: flex;
        flex: 1; /* ocupa 100% da tela do celular a tag Main*/
        flex-direction: column;
    }

    footer{
        margin-top: auto;
    }



    /* Ajustes no menu*/

    .menu_container{
        height: auto;
        padding: 1rem 0;
    }

    .menu_content{
        justify-content: center;
        max-width: 100%;
       
    }

     #titulo a {
        font-size: 1.75rem;
     }
     .menu_list{
        display: none;
     }


     /* Ajustes na Seção Home*/ 

     .home_container{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin-top: 2rem;

     }

     .home_content{
        width: 100%;
     }


     .home_content h1{
        font-size: 1.75rem;
        line-height: 2.25rem;
     }

     .home_content botao{
        width: 80%;
     }

     .home_content img{
        width: 80%;
     }
     #home_texto{
        margin-top: 0.5rem;
     }

     #home_imagem{
        margin-bottom: 0;
     }


     /* Ajustes na seção about */



     .sobre_container{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 3rem;
        
     }

     .sobre_container img{
        width: 70%;
        
     }
     .sobre_container h1{
        font-size: 1.75rem;
        line-height: 2.25rem;
     }

     .sobre_github{
        flex-direction: column;
        gap: 0.5rem;
     }
     .sobre_github p{
        display: none;
     }
     .sobre_github .botao{
        width: 80%;
     }

   
    
    /* Estilização da Seção Sobre */
    
    .sobre_container {
        max-width: 1120px;
        margin: -1.25rem auto;
        padding: 0 1rem;
        height: 100vh;
    }

     /* ajustes contato*/



     .contato_container{
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        margin-top: 2rem;
        padding: 0 1rem;
     }
     .contato_content {
        width: 100%;
     }

     .contato_content h4{
        font-size: 1.75;
        line-height: 2.25rem;
     }
     .contato_content p {
        margin: 1rem;
     }
     /* Ajustes de seção Redes Sociais */

     .social_container{
        justify-content: center;
        width: 100%;
     }
     .social_icon{
        width: 4rem;
        height: 4rem;
     }   

     .social_icon:houver{
      width: 4rem;
      height: 4rem;
      border-color: var(--purple-500);
        
     }





     /* Ajustes da Seção form */


    form{
        margin:1rem 0 0 0;
        padding: 1rem;


     };

    
     







     /* modo dark */

     :root{
      --preto: #0d1b2a;
      --azul-oceano: #1B263B;
      --azul-oceanoclaro: #415A77;
      --azul-claro: #778DA9;
      --brancoacizentado: #E0E1DD;

    }



   
}